In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
# getting the data from website
driver.get("https://www.naukri.com/")

In [8]:
#getting the web element for "Skill,Designations,Companies” field
search_job=driver.find_element_by_xpath("//input[@class='sugInp']")

In [9]:
# searching for data analyst 
search_job.send_keys("Data Analyst")

In [11]:
# searching and entering the work location field 
search_location=driver.find_element_by_id("qsb-location-sugg")
search_location.send_keys("Bangalore")

In [12]:
#searching the webelemnt for search button and clicking on it to get result.
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [16]:
#getting the job title webelement 
job_search=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [72]:
job_title=[]
job_exp=[]
job_location=[]
job_salary=[]

In [85]:
print(len(job_exp),len(job_location),len(job_salary),len(job_title),len(company_name))

10 10 10 10 0

In [78]:
for i in job_search:
    job_title.append(i.text.replace('\n',''))
job_title[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst',
 'Senior Security Specialist - CS Awareness & Data Analyst',
 'Senior Data Analyst',
 'Data analysts',
 'Data analysts',
 'Data Analyst',
 'Data Analyst (Data Stewards)//Immediate Joiners//Bangalore',
 'Senior Data Analyst',
 'Data Analyst']

In [84]:
job_title=job_title[:10]
job_exp=job_exp[:10]
job_location=job_location[:10]
job_salary=job_salary[:10]
len(job_title)

10

In [27]:
search_year=driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
search_year

[<selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="8cc394bb-766d-43ba-a85d-beb1b6632478")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="ca697210-0f57-4dab-b050-90e405e72798")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="d2f52c88-9a16-441d-9397-2610bc84d1a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="b8517286-9de4-4e29-af27-e7a2ab0609e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="4fcde723-2853-4bfb-9241-123a75452254")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="95109fd2-e26a-4a3a-876d-7c365fa8fd64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="79bcb587-3969-4239-9edb-dd342e10f799")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="4a27928a-f281-400a-9994-3725699dacdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="2327377b-1b89-4843-afd5-c79ef128bbfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="299dc73e-834a-4d43-9f87-7edc8a1a0886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="bf39c91c-a1c0-44b0-93f0-581076d4a022")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="8e9ff9e5-5f00-4e0f-803a-111ad7828804")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="fa7dfcfe-c6a0-4dbc-8538-9231bba503b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="b0a8f997-e51a-44bd-a7f2-91848c869476")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="196f4a7e-2ee4-4e24-bc28-7a2571c90068")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="38e04b4f-dc8c-43f2-bb65-eb531c07dbcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="38cd12f9-097f-4807-9b9a-1f5e584e27ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="a9c60fe0-f4b5-4e1e-b00a-e7f818df94c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="c7d619ff-35f8-421b-bf37-00a41d896697")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="8e472566-1f64-45b2-83d9-59948df268b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="5ffde48b-460c-4843-810c-284969cae146")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="9b1093b3-ad9e-4bad-9432-911034463d07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="87e9ef3b-701a-4bc2-9775-02bc9c9c2c7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="74d1aecc-55d2-48cf-89bd-75db1cc7bad0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="1b574bcf-ce2d-4f84-b930-404d1e6346c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="c38c33ec-9503-46dd-af25-eafe0975b8f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="226fedf5-3925-4550-a34e-7f75c8f317d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="ae6820ef-45c8-4559-846d-9331447b3182")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="998a772a-c92a-441e-ae21-0ccb00b3affd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="9e43f204-dc10-4736-9784-79f44b6fd058")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="946bc51e-052c-49ae-9d3e-f0877346aa83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="6461175d-a7ec-4a97-95e8-5739c1caf206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="da6fb502-bc34-4ed1-aed7-1bea4083ed0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="1c3afce9-8dd0-4501-8186-0f898a0eb11c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="88becaa9-fb07-46e3-a9b3-52d5bde805ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="f77fc61e-d0fb-4eba-b34c-cf53c55efbd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="f78c3036-6260-4da5-924b-1715d8f55e57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="f5aaaad2-dcd9-4fd6-8b89-6ee104869f82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="15f5a8d7-d2d3-4f0e-ae5b-2483b001d98a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="76b99f3e-f570-4e23-a94b-53d653795d98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="55b915aa-5e10-4674-82fb-233aa8914a11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="db8dbb9f-4398-4168-9dac-0a251db7d362")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="39c2930b-0f24-4f9c-8612-705545d897d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="6bbaa154-5c5b-4b9d-8582-77ed1d2a9919")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="24ee8d90-f45d-4419-b1f6-f7d467205ae9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="55f521a0-8a2d-4a45-8dac-4e23e4876a8b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="0193951b-aa66-4a19-9c61-4d00adaee0bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="515a7479-7c54-464d-8061-0aa29cebd51a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="d0e4ef94-a2bf-4944-89a7-d2a95daf95cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="38f02ba7-aff1-453a-b59d-f568d67c9867")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="c8121cf2-9009-453d-aaa3-69100174333e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="d74bd75d-b4c0-4f1a-887a-39c4c5bd3cd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="1f3e403e-97b0-47aa-9484-0b6135d5e3a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="21bcd358-0aeb-4c00-b5c8-0a3e3b6a8f87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="ec6fc0bf-6475-4ea0-9f99-a05952ab25e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="7ade0a1c-a4c8-42b4-ab82-6cfb27441fdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="0486c0f8-8e69-4b8a-9d04-ed6a79c98105")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="19b0f2c7-916b-412c-adbe-96bfb935ea5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="963fcb58-1c66-456a-9d23-f169fadf419b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d266e5c60cfc01782bcf0d6c02c6ac6", element="04648c29-095a-4074-8355-df111ad8b401")>]

In [46]:
values=[]
for i in search_year:
    values.append(i.text)
values

['0-3 Yrs',
 '3,50,000 - 4,50,000 PA.',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 '5-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru(Ulsoor)',
 '4-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-6 Yrs',
 'Not disclosed',
 'Bengaluru/Bangalore',
 '0-4 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-8 Yrs',
 '10,00,000 - 20,00,000 PA.',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 '4-9 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '2-3 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-8 Yrs',
 '7,00,000 - 11,00,000 PA.',
 'Bangalore/Bengaluru',
 '7-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-9 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '6-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-3 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru']

In [76]:
for i in range(0,len(values),3):
    job_exp.append(values[i])
    job_salary.append(values[i+1])
    job_location.append(values[i+2])
print(f"     Year of exprerince --- \n,{job_exp}\n       salary ----\n{job_location}\n ,      location----\n{job_salary}")

     Year of exprerince ---
,['0-3 Yrs', '5-8 Yrs', '4-7 Yrs', '4-5 Yrs', '3-5 Yrs', '5-6 Yrs', '0-4 Yrs', '5-10 Yrs', '5-8 Yrs', '4-9 Yrs', '2-3 Yrs', '3-8 Yrs', '7-10 Yrs', '2-5 Yrs', '5-9 Yrs', '6-8 Yrs', '1-7 Yrs', '2-5 Yrs', '4-6 Yrs', '1-3 Yrs', '0-3 Yrs', '5-8 Yrs', '4-7 Yrs', '4-5 Yrs', '3-5 Yrs', '5-6 Yrs', '0-4 Yrs', '5-10 Yrs', '5-8 Yrs', '4-9 Yrs', '2-3 Yrs', '3-8 Yrs', '7-10 Yrs', '2-5 Yrs', '5-9 Yrs', '6-8 Yrs', '1-7 Yrs', '2-5 Yrs', '4-6 Yrs', '1-3 Yrs', '0-3 Yrs', '5-8 Yrs', '4-7 Yrs', '4-5 Yrs', '3-5 Yrs', '5-6 Yrs', '0-4 Yrs', '5-10 Yrs', '5-8 Yrs', '4-9 Yrs', '2-3 Yrs', '3-8 Yrs', '7-10 Yrs', '2-5 Yrs', '5-9 Yrs', '6-8 Yrs', '1-7 Yrs', '2-5 Yrs', '4-6 Yrs', '1-3 Yrs']
       salary ----
['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru(Ulsoor)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bengaluru/Bangalore', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru(2nd Phase JP Nagar)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru(Ulsoor)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bengaluru/Bangalore', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru(2nd Phase JP Nagar)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru', 'Bangalore/Bengaluru(Ulsoor)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bengaluru/Bangalore', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru(2nd Phase JP Nagar)', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru']
 ,      location----
['3,50,000 - 4,50,000 PA.', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', '10,00,000 - 20,00,000 PA.', 'Not disclosed', 'Not disclosed', '7,00,000 - 11,00,000 PA.', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', '3,50,000 - 4,50,000 PA.', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', '10,00,000 - 20,00,000 PA.', 'Not disclosed', 'Not disclosed', '7,00,000 - 11,00,000 PA.', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', '3,50,000 - 4,50,000 PA.', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', '10,00,000 - 20,00,000 PA.', 'Not disclosed', 'Not disclosed', '7,00,000 - 11,00,000 PA.', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed', 'Not disclosed']

In [86]:
# creating the dataFrame
df=pd.DataFrame({
    'title':  job_title,
    'Experience': job_exp,
    'Location': job_location,
    'Salary': job_salary
})
df

,title,Experience,Location,Salary
0,Data Scientist / Data Analyst -Business Analyst,0-3 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...","3,50,000 - 4,50,000 PA."
1,Data Analyst,5-8 Yrs,Bangalore/Bengaluru(Ulsoor),Not disclosed
2,Senior Security Specialist - CS Awareness & Da...,4-7 Yrs,Bangalore/Bengaluru,Not disclosed
3,Senior Data Analyst,4-5 Yrs,Bangalore/Bengaluru,Not disclosed
4,Data analysts,3-5 Yrs,Bangalore/Bengaluru,Not disclosed
5,Data analysts,5-6 Yrs,Bengaluru/Bangalore,Not disclosed
6,Data Analyst,0-4 Yrs,Bangalore/Bengaluru,Not disclosed
7,Data Analyst (Data Stewards)//Immediate Joiner...,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
8,Senior Data Analyst,5-8 Yrs,Bangalore/Bengaluru(2nd Phase JP Nagar),"10,00,000 - 20,00,000 PA."
9,Data Analyst,4-9 Yrs,Bangalore/Bengaluru,Not disclosed

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [87]:
import selenium
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException   # importing the exception

In [91]:
driver=webdriver.Chrome("chromedriver.exe")

In [92]:
driver.get("https://www.naukri.com/")

In [100]:
enter_post=driver.find_element_by_id("qsb-keyword-sugg")
enter_location=driver.find_element_by_id("qsb-location-sugg")

In [101]:
enter_post.send_keys("Data Scientist")
enter_location.send_keys("Bangalore")

In [102]:
button=driver.find_element_by_xpath("//button[@class='btn']")
button.click()

In [105]:
search_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
search_title

[<selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="3526d03b-e033-4f4e-8de4-be4c9e1dec91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="bab27d21-417b-4f0a-a5a5-d93e7cde13df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="793369cc-595f-45dd-87be-50a595aa1c6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="47c59b8d-176c-484c-b1db-c2e90bf3b3ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="c5d1abd9-a51c-4f5d-8012-83356c94a995")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="23cffb14-7a99-4be6-a8f4-a9406a737668")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="3dd5311b-e811-4e78-a6b9-10e08c048606")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="c01ea8ad-f78e-459b-b9d0-2e410cf554a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="d5fa4ac6-509e-40bf-a5e2-c8e5bc78dc56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="16cdcfc1-83d7-4886-9fd3-0bbf5d7687f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="a6d02de9-a38d-4379-9985-ed8d889dc642")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="8f8cdceb-e471-4634-ab0a-9d063292865d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="f15bb8be-eab1-4c0b-80d9-0ee7bb0b202b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="e80341ca-9dc4-4e04-a47c-8ed825ad1234")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="be6b9a76-b071-4562-98f0-297f18732e21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="595b9e76-399d-419c-b1a5-7fda90632859")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="9c8e8318-0481-4ad3-a04a-308ad9145f9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="5d2fd10f-7847-4c0a-867d-a863f71c3161")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="2d4e08ce-2218-4225-a799-f03cc537c3f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ba3e55914a562f491ea8d457a9998793", element="d9e1c7da-8ab5-4799-93c5-b2948745a78e")>]

In [108]:
#now scraping the web link
url=[]
for i in search_title:
    url.append(i.get_attribute("href"))
len(url)

20

In [109]:
#indexing only 10 element 
url=url[:10]
len(url)

10

In [129]:
#Extracting the job title from the above URL
''''job_title=[]
for i in url:
    driver.get(i)
    try:
        title=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(title.text)
    except NoSuchElementException as e:
        print("Exception raised",e)
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Senior/Lead Data Scientist - Machine Learning/Deep Learning',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Consumer Analytics']

In [139]:
#extracting the job description ,salary and job title in one code
job_description=[]
salary=[]
job_title=[]
for i in url:
    driver.get(i)
    try:
        title=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(title.text)
        jd=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
        job_description.append(jd.text.replace('\n','-->'))
        sal=driver.find_element_by_xpath("//div[@class='salary']")
        salary.append(sal.text.replace('\n',''))
    except NoSuchElementException as e:
        print("Exception raised",e)
        
print("length of job description-",len(job_description))
print("length of job Salary-",len(salary))
print("length of job title-",len(job_title))

length of job description- 10
length of job Salary- 10
length of job title- 10

In [130]:
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Senior/Lead Data Scientist - Machine Learning/Deep Learning',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Consumer Analytics']

In [136]:
''''salary=[]    ##Extracting the salary from the above URL
for i in url:
    driver.get(i)
    try:
        sal=driver.find_element_by_xpath("//div[@class='salary']")
        salary.append(sal.text.replace('\n',''))
    except NoSuchElementException as e:
        print("Exception raised",e)
salary

['₹ 3,50,000 - 4,50,000 P.A.',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed']

In [137]:
''''job_description=[]   ##Extracting the job_description from the above URL
for i in url:
    driver.get(i)
    try:
        jd=driver.find_element_by_xpath("//div[@class='dang-inner-html']")
        job_description.append(jd.text.replace('\n','-->'))
    except NoSuchElementException as e:
        print("Exception raised",e)
job_description

["Job description-->-->Job Role: Data Scientist/Data Analyst /Business Analyst-->-->Location: Chennai/Bangalore/Hyderabad-->-->Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics-->43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.-->-->While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.-->-->To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.-->Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.-->If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.-->-->Call to schedule interview Monday -Saturday from 10:00 am to 7 Pm-->-->Koodesh B- +91 73395 11107-->Manigandan B - +91 93444 57360-->-->Email :-->-->careerguidance.koodes@centerforaia.com-->manigandan@centerforaia.com-->-->What is needed from you?-->Freshers who wish to start their career in Analytics and AI and professionals who wish to-->upskill or change their domain to analytics and emerging technologies are free to apply.-->Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA-->Skills relating to Mathematics/Statistics.-->Natural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualization-->Good verbal and written communication skills-->Ability to understand domains in businesses across various sectors-->-->Selection procedure includes-->Aptitude Test & Communication Exam - Online / Offline-->SQL/Python test - Online / Offline-->Candidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.-->-->All the Shortlisted candidates will be eligible to continue the corporate training with CAIA-->What you can expect from us?-->-->You will get trained on the following modules for a period of 12-14 weeks:-->SQL & PLSQL-->Data Wrangling using Python-->Data Visualization Using Power-BI-->Statistics for Machine Learning-->Artificial Intelligence, Data Interpretation-->Supervised & Unsupervised Learning,-->NLP & Deep Learning-->Cloud Data Lake-->Business intelligence & Data Visualization-->Simulation Projects-->Expected Outcome?-->-->At the end of the Training you are expected to be well versed with the following:-->Analysis of large and complex data sets from multiple sources-->Development and evaluation of data analytics models, algorithms, and solutions-->Understanding/implementation of ML algorithms, performance tuning, and reporting-->Implementation of algorithms to mine targeted data and the ability to convert data into a business story-->Translation of business requirements into technical requirements; Data extraction, preparation, and transformation-->Identification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization-->Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders-->Finding analytical solutions to abstract business issues.-->Apply objective analysis of facts before coming to a conclusion",
 'Roles and Responsibilities-->Hiring for US based Start-up AI Fintech which is building Digital Banking platform for North American region.-->-->Experience for the Role : Data Scientist (1+ Yrs) & Senior/ Lead Data Scientist (3+ Yrs)-->-->Location : Bangalore (HSR Layout)-->-->Looking expert machine learning and a statistical mastermind and who are keen to make a difference in a unique way.-->-->We expect a Data Scientist & ML Engineer to take the onus of creating and leveraging the state-of-the-art algorithms in machine learning, deep learning and AI which will impact billions of people.-->-->Main Responsibilities :-->-->As an ML Engineer / Data Scientist, you will work on cutting edge problems in Natural Language Processing using Deep Learning.-->-->- Perform exploratory data analysis to understand the problem-->-->- Implement and experiment with different features and architectures for Deep-Learning models for NLP-->-->- Do literature review and come up with possible solutions-->-->- Do visualisation for understanding the problem and showcasing models-->-->- Make the model faster for real-time predictions-->-->- Build tools to help the team build models and deploy them-->-->What We are looking:-->-->- B.Tech, M.Tech or Ph.D in Computer Science or equivalent work experience-->-->- Knowledgeable on common data structures and algorithms-->-->- Knowledgeable in one or more of the following : Machine Learning / Information Retrieval / Deep Learning / NLP-->-->- 1 to 5 year experience working with real world datasets-->-->- Strong interest in solving real world problems in Machine Learning-->-->- Programming experience (in any programming language) is a must-->-->- Good familiarity with Python and its scientific computing / ML ecosystem is preferable.',
 'The Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.-->Job Responsibilities-->Ability to understand a problem statement and implement analytical solutions techniques independently with independently / proactively / thought-leadership.-->Work with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions.-->Fast learner: ability to learn and pick up a new language/tool/ platform quickly.-->Conceptualize, design, and deliver high-quality solutions and insightful analysis.-->Conduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems.-->Collaborate and Coordinate with different functional teams(engineering and product development) to implement models and monitor outcomes.-->Ability to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization-->Experience Required:-->Expert level proficiency in at least one of R and Python.-->Ability to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms.-->Experience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance.-->Problem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes.-->Intermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis.-->We use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go.-->Good to Have:-->Experience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems-->Experience of working in on one or more domains:-->CPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management-->BFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection-->Healthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse-->Experience in working with Linux computing environment and use of command line tools like sed/awk-->Good grasp on databases including RDBMS, NoSQL, MongoDB etc.-->Education Qualification-->B.Tech / M.Tech in Computer Science / Mathematics / Signal Processing or related fields.',
 'ABOUT THIS JOB-->NielsenIQ Advanced Analytics team develops and promotes a portfolio of global products. Leveraging NielsenIQs unparalleled data and global platforms, the Advanced Analytics team creates solutions to enable our clients to make better business decisions every day.  We partner with Product Owners and Core Technology Teams to build scalable, always on,  analytic products using relevant modeling/ML techniques.-->We’re looking for a passionate and talented Senior Data Scientist to join our growing team. In this role, you’ll have the chance to roll up your sleeves and apply data science methods and analytics to sustain NielsenIQ Analytics growth. Successful candidates are intellectually curious builders and active learners who are biased toward action, new problem solving.-->Roles & Responsibilities :-->Understand business issues, stakeholder requirement and expectations-->Perform relevant modeling analysis and POC exploring multiple techniques-->Ensure Analytics model quality-->Document and present findings and recommendations on methodology in a structured way to various stakeholder or partnering teams (Engineering, Tech, Product leader).-->Work closely with the Engineering and Tech team to convert those POC into fully scalable products.-->Active and effective collaboration with other project team members (other Data Scientist, Data Steward, Technology Engineer)-->Collaboratively manage projects from timeline creation to project completion, managing expectations with leaders and colleagues-->Encourage team building, best practices sharing especially with more junior team members.-->Stay abreast of developments in the area to ensure bringing the most appropriate solutions to our business-->About You-->You’ve built a decent track record in research and data analytics. And you have the communication chops to translate it all into conversations. While you’ve worked with global cross-functional teams, you can also put your head down and focus on independent projects. Seeing the big picture takes attention to detail. Keeping up with the fast-changing world of technology takes someone who recognizes that. You know what’s happening in big data and you’re ready to influence what’s next.-->Qualifications-->Masters degree in Data Sciences, mathematics or a closely related field-->3 to 5 years of experience as a Data Scientist in the business-->Strong knowledge of statistical modelling, machine learning.-->Experience in machine learning, supervised and unsupervised: Forecasting, Classification, Data/Text Mining, NLP, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms-->Experience with Optimisation techniques: linear programming, integer programming, genetic algorithm, constrained optimisation-->Experience in working on distributed or cloud computing platforms such as Google Cloud or Microsoft Azure-->Proficiency in Data Science coding languages like Python, PySpark, SQL, R in a cloud environment like DataBricks-->Experience using collaborative development tools (git).-->Experience working with Agile methodologies (SCRUM)-->Strong problem solving and excellent communication skills, independent working style-->Experience in an FMCG company is a strong plus',
 'Roles and Responsibilities-->Requirements :-->-->- 6-9 years of strong experience in data mining, machine learning and statistical analysis.-->-->- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)-->-->- Ability to lead and deliver in a fast-paced start-up environment.-->-->- Fluency in tools such as Python/ R/ Matlab etc.-->-->- Strong intuition for data and Keen aptitude on large scale data analysis-->-->- Excellent written and verbal communication skills.-->-->- Ability to collaborate across teams and strong interpersonal skills.',
 '  Contributing in development and deployment of applied, predictive and prescriptive analytics. Develop self-learning systems that can predict failures and autocorrect based on data-->Gathering analysing data, devising data science solutions for high-performance models in scalable code. Propose innovative algorithms and pursue patents where appropriate.-->Working with engineering teams to incorporate solutions and create intuitive UX stories. Partner with data engineers on data quality assessment, cleansing and analytics.-->Researching and evaluating emerging technology and market trends to assist in project development and operational support for multiple teams or complex scenarios.-->Contributing to the development of software and data delivery platforms that are service-oriented with reusable components across multiple teams.-->Creating reports and other artifacts to document your work and outcomes. Communicating methods, findings, and hypotheses with stakeholders.-->Fuel your passion-->To be successful in this role you will:-->Have a Bachelor s Degree in Computer Science or in STEM, Majors. 3+ years as data scientist and technical hands-on coding experience.-->Have experience in Machine Learning/AI techniques including Deep learning (RNN, CNN, GAN, etc), Support Vector Machines; Regularization Techniques; Boosting, Random Forests, Ensemble Methods, image/video/audio processing, Bayesian and time series modelling.-->Have experience in Parallel programming frameworks for GPUs, TPUs and developed containerized solutions (Docker/Mesos etc).-->Have good implementation experience with R, Python, Perl, Ruby, Scala, Apache Spark, Storm, SAS and ability to work with a variety of Deep learning frameworks including TensorFlow, Keras, Caffe, CNTK, etc-->Have hands-on skills in sourcing, manipulating and analysing large volumes of data including SQL and NoSQL databases-->Have proven experience in using well-established supervised and unsupervised machine learning methods for large industry-strength data analysis problems.-->Reviews, analyses and develops architectural requirements at domain level, aligning architectural requirements with software development strategy. Leads and facilitates the domains architecture governance process based on EAs governance structure.',
 'As a Data Scientist, you would be working with subject matter experts in energy production. You will help in building models on reliability, predictive analysis, production optimizations and other interesting industry problems.-->As a Data Scientist, you will be responsible for:-->Contributing in development and deployment of applied, predictive and prescriptive analytics. Develop self-learning systems that can predict failures and autocorrect based on data-->Gathering analysing data, devising data science solutions for high-performance models in scalable code. Propose innovative algorithms and pursue patents where appropriate.-->Working with engineering teams to incorporate solutions and create intuitive UX stories. Partner with data engineers on data quality assessment, cleansing and analytics.-->Researching and evaluating emerging technology and market trends to assist in project development and operational support for multiple teams or complex scenarios.-->Contributing to the development of software and data delivery platforms that are service-oriented with reusable components across multiple teams.-->Creating reports and other artifacts to document your work and outcomes. Communicating methods, findings, and hypotheses with stakeholders.-->Fuel your passion-->To be successful in this role you will:-->Have a Bachelor s Degree in Computer Science or in STEM, Majors. 3+ years as data scientist and technical hands-on coding experience.-->Have experience in Machine Learning/AI techniques including Deep learning (RNN, CNN, GAN, etc), Support Vector Machines; Regularization Techniques; Boosting, Random Forests, Ensemble Methods, image/video/audio processing, Bayesian and time series modelling.-->Have experience in Parallel programming frameworks for GPUs, TPUs and developed containerized solutions (Docker/Mesos etc).-->Have good implementation experience with R, Python, Perl, Ruby, Scala, Apache Spark, Storm, SAS and ability to work with a variety of Deep learning frameworks including TensorFlow, Keras, Caffe, CNTK, etc-->Have hands-on skills in sourcing, manipulating and analysing large volumes of data including SQL and NoSQL databases-->Have proven experience in using well-established supervised and unsupervised machine learning methods for large industry-strength data analysis problems.-->Reviews, analyses and develops architectural requirements at domain level, aligning architectural requirements with software development strategy. Leads and facilitates the domains architecture governance process based on EAs governance structure.',

In [140]:
#making the dataFrame
df=pd.DataFrame({
    "job_title": job_title,
    "salary" :salary,
    "Job_description": job_description
    
})
df

,job_title,salary,Job_description
0,Data Scientist / Data Analyst -Business Analyst,"₹ 3,50,000 - 4,50,000 P.A.",Job description-->-->Job Role: Data Scientist/...
1,Senior/Lead Data Scientist - Machine Learning/...,Not Disclosed,Roles and Responsibilities-->Hiring for US bas...
2,Senior Data Scientist,Not Disclosed,The Artificial Intelligence and Machine Learni...
3,Senior Data Scientist,Not Disclosed,ABOUT THIS JOB-->NielsenIQ Advanced Analytics ...
4,Lead Data Scientist - Machine Learning/ Data M...,Not Disclosed,Roles and Responsibilities-->Requirements :-->...
5,Data Scientist,Not Disclosed,Contributing in development and deployment o...
6,Data Scientist,Not Disclosed,"As a Data Scientist, you would be working with..."
7,Data Scientist,Not Disclosed,You are a passionate Data Scientist who wants ...
8,Data Scientist,Not Disclosed,"Role, Responsibilities-->Skills Required-->The..."
9,Data Scientist - Consumer Analytics,Not Disclosed,Core Responsibilities-->Model data to help cre...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
 You have to use the location and salary filter.
 You have to scrape data for “Data Scientist” designation for first 10 job results.
 You have to scrape the job-title, job-location, company_name, experience_required.

In [32]:
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [33]:
driver=webdriver.Chrome("chromedriver.exe")

In [34]:
search_site=driver.get("https://www.naukri.com/")

In [35]:
#searching the web elementfor searching job role and location
search_job=driver.find_element_by_xpath("//input[@class='sugInp']")
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_job.send_keys("Data Scientist")
search_button.click()

In [174]:
#using  the location and salary filter to extract the data 
search_location=driver.find_elements_by_xpath("i[@class='mt-8 chckBoxCont']")
# extracting the web 
''''for i in search_location:
    if i.text== "Delhi/ NCR":
        i.click()
        break  ''''

SyntaxError: EOL while scanning string literal (<ipython-input-174-a8565461afba>, line 7)

In [171]:
job=()
for i in search_location:
    job.append(i.text)
job

()

In [7]:
''''search_location=driver.find_element_by_class_name('fleft naukicon naukicon-checkbox')
for i in search_location:
    if i.text== "Delhi / NCR(1443)":
        i.click()
        break
#search_location.click()

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-7-13b93e305b5a>, line 6)

In [10]:
checkbox=driver.find_elements_by_xpath("//i[@class='fleft naukicon naukicon-checkbox']")
checkbox

[<selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="ec03e1fd-c1ee-4836-aa12-b55d9a191bde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="c318274a-4e22-478a-abb8-3cad9468b1da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="2a2489a2-4531-44c2-9588-d48204d3d879")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="87e03ae1-a25c-4b5f-a634-db668fff9824")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="926e3a21-2d98-464d-8dbe-3820ec615aca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="eedd53bf-f468-482c-aab6-3b8250d16f69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="81ba158b-9ce6-4577-8cd9-e2e5a1bacd36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="56484459-2769-4c15-bf09-d6c367486a14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="b6b3fc15-7481-46be-aae2-c9a098f2ff31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="611b1d6a-e965-4a40-920d-e851713112e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="ddcfee1b-d48d-492a-a7b7-0683f598d3b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="3fa1fb92-2e92-4f73-afad-93e7415b9417")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="2b1b9586-abd3-40cf-826b-df189d9369b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="e08757b6-9945-4c52-abdd-aceffd590e41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="36c4dcb2-f803-4b39-8602-cbdc4faaad8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="deec7c3d-5fa3-4981-98b8-d5f3a1fc8501")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="383ff1f2-4bb3-4a02-bc50-68f393a57ed1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="98583896-d027-45b5-8335-6ee0682d22ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="a8b3c1ef-5ea6-41ce-97d2-f2c732f52cc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="598db509-a4df-4f09-aea7-6fa904486d69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="4a590960-f8a8-49b6-979e-da5b98596755")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="8b8b50ee-8373-4b7e-ac6e-0fbe245dd476")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="c7bdb46f-9d31-4af0-bb9d-c6141fff9675")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="85090d4b-5ac3-4cf9-ace1-5a53b34e7fe5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="a2639d4d-4f7e-43b6-a314-9691a3724b46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5b283226db56b968a791077aebe4a802", element="b636d567-b36f-417f-b025-63ce7314dd94")>]

In [36]:
checkbox=driver.find_elements_by_xpath("//*[text()='Delhi / NCR']")
checkbox

[<selenium.webdriver.remote.webelement.WebElement (session="2aabf815b8af7012b65801fcc6bf0c63", element="a61101e3-ec2d-418d-84c7-41c787809fa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2aabf815b8af7012b65801fcc6bf0c63", element="41ff4678-4a82-485c-9555-329adb1ea399")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2aabf815b8af7012b65801fcc6bf0c63", element="f78283c2-7663-4184-93e1-0da39533db56")>]

In [38]:
for i in checkbox:
    time.sleep(2)
    if i.text== 'Delhi / NCR(1709)':
        i.click()
        break

In [ ]:
/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/i

In [ ]:
//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/i

In [ ]:
unable to get the checkbox click, tried absolute ,text,no go

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [2]:
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [3]:
driver=webdriver.Chrome("chromedriver.exe")

In [4]:
time.sleep(5)
driver.get("https://www.glassdoor.co.in/index.htm")

In [5]:
#extracting the web element for job role and job location.
search_job=driver.find_element_by_id("sc.keyword")
search_location=driver.find_element_by_id("sc.location")
search_job.send_keys("Data Scientist")  #for job title
search_location.send_keys("Noida")  # for job location

In [6]:
#extracting the web element to click on search button
search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

In [51]:
# extracting the top 10 job title
search_title=driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")
search_title=search_title[:10]
print("the length of job title -",len(search_title))

# extracting the Company name
search_company=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
search_company=search_company[:10]
print("the length of company -",len(search_company))

#extracting the web element salary

search_salary=driver.find_elements_by_xpath("//span[@class='css-1imh2hq e1wijj242']")
search_salary=search_salary[:10]
print("the length of salary -",len(search_salary))

#extracting the web element for job_location
location=driver.find_elements_by_xpath("//span[@class='pr-xxsm css-1ndif2q e1rrn5ka0']")
location=location[:10]

the length of job title - 10
the length of company - 10
the length of salary - 10

In [39]:
Job_title=[]
company_name=[]
Job_salary=[]
state=[]

In [40]:
#Getting the job title from web elemrnt using for loop
for i in search_title:
    Job_title.append(i.text)
    
Job_title

['Data Analyst',
 'Associate Machine Learning Engineer',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [41]:
#Getting the company name from web elemrnt using for loop
for i in search_company:
        company_name.append(i.text)
company_name

['Taboola',
 'Salesforce',
 'Ericsson',
 'Crowe',
 'MobiKwik',
 'Siemens Technology and Services Private Limited',
 'Priority Vendor',
 'Gauge Data Solutions',
 'Novo',
 'Biz2Credit Inc']

In [57]:
#Getting the job salary from web elemrnt using for loop
for i in search_salary:
    Job_salary.append(i.text)
Job_salary=Job_salary[:10]
Job_salary

['₹426K - ₹708K (Glassdoor Est.)',
 '₹362K - ₹394K (Glassdoor Est.)',
 '₹970K - ₹1,000K (Glassdoor Est.)',
 '₹300K - ₹850K (Glassdoor Est.)',
 '₹500K - ₹800K (Glassdoor Est.)',
 '₹500K - ₹816K (Glassdoor Est.)',
 '₹669K - ₹720K (Glassdoor Est.)',
 '₹512K - ₹711K (Glassdoor Est.)',
 '₹729K - ₹909K (Glassdoor Est.)',
 '₹250K - ₹546K (Glassdoor Est.)']

In [52]:
#Getting the job location from web elemrnt using for loop
for i in location:
    state.append(i.text)
state

['New Delhi',
 'New Delhi',
 'Noida',
 'Noida',
 'Gurgaon',
 'Gurgaon',
 'Noida',
 'Noida',
 'Gurgaon',
 'Noida']

In [55]:
#Creating the dataframe
import pandas as pd
df=pd.DataFrame({
    'Job_title':Job_title,
    'Job_location':state,
    'Salary'  : Job_salary,
    'company_name' : company_name
})
df

,Job_title,Job_location,Salary,company_name
0,Data Analyst,New Delhi,₹426K - ₹708K (Glassdoor Est.),Taboola
1,Associate Machine Learning Engineer,New Delhi,₹362K - ₹394K (Glassdoor Est.),Salesforce
2,Data Scientist,Noida,"₹970K - ₹1,000K (Glassdoor Est.)",Ericsson
3,Data Scientist,Noida,₹300K - ₹850K (Glassdoor Est.),Crowe
4,Data Scientist,Gurgaon,₹500K - ₹800K (Glassdoor Est.),MobiKwik
5,Data Scientist,Gurgaon,₹500K - ₹816K (Glassdoor Est.),Siemens Technology and Services Private Limited
6,Data Scientist,Noida,₹669K - ₹720K (Glassdoor Est.),Priority Vendor
7,Data Scientist,Noida,₹512K - ₹711K (Glassdoor Est.),Gauge Data Solutions
8,Data Scientist,Gurgaon,₹729K - ₹909K (Glassdoor Est.),Novo
9,Data Scientist,Noida,₹250K - ₹546K (Glassdoor Est.),Biz2Credit Inc

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [48]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [49]:
driver=webdriver.Chrome("chromedriver.exe")

In [50]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [51]:
Search_title=driver.find_element_by_xpath("//input[@class='keyword']")
Search_title.send_keys("Data Scientist")
# searching the web element for location and sending values to it.
search_location=driver.find_element_by_id("LocationSearch")
search_location.send_keys("Noida")

In [52]:
#searching the web element for search button and click on it.
button=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
button.click()

Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.

In [55]:
# scraping the company name
search_company=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
len(search_company)
#scraping the  average salary
search_avg=driver.find_elements_by_xpath("//h3[@class='m-0 css-g261rn']")
len(search_avg)

44

In [56]:
company_name=[]
avg_salary=[]

In [57]:
for i in search_company:
    company_name.append(i.text)
company_name

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum Global Solutions',
 'ZS Associates',
 'Optum',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'OYO',
 'Nagarro',
 'dunnhumby',
 'Vidooly Media Tech',
 'Tech Mahindra',
 'R Systems',
 'CARS24.com']

In [58]:
salary=[]
for i in search_avg:
    salary.append(i.text)
salary

['Big Data',
 'Data Analyst',
 'Quantitative Analyst',
 'Senior Data Scientist',
 'IBM',
 '₹9,00,000',
 'Tata Consultancy Services',
 '₹6,15,289',
 'Accenture',
 '₹11,63,336',
 'Delhivery',
 '₹12,18,244',
 'Ericsson-Worldwide',
 '₹7,39,238',
 'UnitedHealth Group',
 '₹13,19,140',
 'Valiance Solutions',
 '₹8,63,750',
 'EXL Service',
 '₹11,10,000',
 'Optum Global Solutions',
 '₹13,28,697',
 'ZS Associates',
 '₹11,42,356',
 'Optum',
 '₹13,20,960',
 'Innovaccer',
 '₹12,09,040',
 'Cognizant Technology Solutions',
 '₹10,09,021',
 'OYO',
 '₹12,58,227',
 'Nagarro',
 '₹9,92,632',
 'dunnhumby',
 '₹10,55,478',
 'Vidooly Media Tech',
 '₹34,157',
 'Tech Mahindra',
 '₹10,54,402',
 'R Systems',
 '₹18,40,134',
 'CARS24.com',
 '₹10,00,000']

In [59]:
#Using the range function to get the income.
#tried with step 1and 2 but unable to get rid of company name.  { doubt please explain why  it is not working }
for i in range(5,len(salary),2):
    avg_salary.append(salary[i])
avg_salary=avg_salary[:10]
avg_salary

['₹9,00,000',
 '₹6,15,289',
 '₹11,63,336',
 '₹12,18,244',
 '₹7,39,238',
 '₹13,19,140',
 '₹8,63,750',
 '₹11,10,000',
 '₹13,28,697',
 '₹11,42,356']

In [60]:
#scraping the min salary

search_minsal=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']//p")
search_minsal

[<selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="312bbba3-c0b5-4981-a170-648f94ba2b60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="d59abe44-d1db-47a6-a1e6-b3e8fcd80740")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="746a5650-035b-48d7-8e37-2c3c0e4d9a21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="bbbc5cc3-5c5c-4140-bb3d-58da46fbd835")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="9d107584-230b-4971-a16c-8874a2fec08c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="c3152057-bb99-4647-b33a-13f6211e2e95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="7f53a819-9d01-4813-815c-d0ec71a0e632")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="f031560c-83e5-4029-91e0-4afe248f3d08")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="2876ced4-f8ec-400d-a44d-926d46bc101a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="5509ba0c-3db8-4485-abc8-f5106e34ed95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="5bbee9b0-2819-419b-adf6-0f9cc648c256")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="5a34523e-cdac-4226-b794-60b857ca3b5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="e6ae45a1-347d-4d21-acd0-35590dd930fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="cf7e8247-daf8-4483-8c0e-b7f9ae7726d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="f7bebffd-9a5e-42d7-912b-a56e2527db05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="074816a3-f10d-4ae4-9290-74a65f93a5f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="96d50f9f-893f-486a-9b69-b956f4ca8c1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="2ba1b9d6-8e9f-4b70-a31a-84f4aecf868b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="70d43ea5-cd01-40c1-80ba-cb26c380600f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="de9a944a-6d08-4161-baa8-2a0155792a6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="cf2cdf68-140c-4df8-a661-60649a308400")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="9e52df4e-3afb-4b25-8607-37e9ebdb43ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="35c856ed-c0b6-4281-b204-4124fdbbaafe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="96757c72-759e-4a6a-9998-18e1ae0c85b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="970c92a6-6e35-4a06-b4fa-167cc59fe92e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="d1bda542-f3c8-43a5-be71-cbbbc2357ab3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="7ed1df9f-010d-430e-b861-f489b31d2c55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="8a3ca847-ad63-4578-8ad5-f1ba6e9f767e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="422c3949-0817-4a83-a39f-fde247984c38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="9fcb148c-50ac-4e11-8684-6e79aa4ad916")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="b84387e6-328a-4775-a276-7e36ec97994c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="ea568636-0831-432e-8d2f-2b4e73ec637b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="438d85f2-edef-407d-b66c-b3f89c34f1a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="90612cec-36c5-46d4-a404-60ab6b1287ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="732ae7b7-42d3-4449-a124-a44ccbda7b0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="c94dabc3-e5dc-4f40-bd48-db33a4f2af66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="f0528395-c9ae-4686-980d-d124f5a8893a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="fdaff6ff-b084-4e88-91ed-60a12274f6ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="a88f12ae-ec9f-47c9-bca0-21f0db435eed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="80b5a99f621d7a60b885571f38f719a5", element="f27cb645-23bb-4716-a1fa-90fb91994797")>]

In [64]:
min_sal=[]
max_sal=[]
for i in search_minsal:
    min_sal.append(i.text)
min_sal

['₹6L',
 '₹27L',
 '₹3L',
 '₹13L',
 '₹6L',
 '₹22L',
 '₹5L',
 '₹1Cr',
 '₹4L',
 '₹16L',
 '₹11L',
 '₹15L',
 '₹5L',
 '₹15L',
 '₹6L',
 '₹15L',
 '₹4L',
 '₹22L',
 '₹2L',
 '₹18L',
 '₹8L',
 '₹20L',
 '₹6L',
 '₹17L',
 '₹8L',
 '₹13L',
 '₹10L',
 '₹19L',
 '₹4L',
 '₹16L',
 '₹8L',
 '₹20L',
 '₹12T',
 '₹63T',
 '₹4L',
 '₹17L',
 '₹8L',
 '₹30L',
 '₹9L',
 '₹15L']

In [65]:
#now scraping the min_sal and max_sal using the for loop.
min_sal=min_sal[0:20:2]
#max_sal=min_sal[1:30:2]

print("the min salary- /n",min_sal,"length-",len(min_sal))

the min salary- /n ['₹6L', '₹3L', '₹6L', '₹5L', '₹4L', '₹11L', '₹5L', '₹6L', '₹4L', '₹2L'] length- 10
the max salary- ['₹3L', '₹5L', '₹11L', '₹6L', '₹2L']

In [74]:
Max_sal=min_sal[1:42:1]
Max_sal.append('₹4L')
Max_sal

['₹3L', '₹6L', '₹5L', '₹4L', '₹11L', '₹5L', '₹6L', '₹4L', '₹2L', '₹4L']

In [27]:
#rating 
search_rating = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
search_rating
rating=[]
for i in search_rating:
    rating.append(i.text)
Rating=rating[:10]
Rating

['3.9', '3.9', '4', '3.9', '4', '3.7', '4.2', '3.6', '3.9', '4']

In [76]:
# indexing only 10 element 
company_name=company_name[:10]
avg_salary=avg_salary[:10]

In [78]:
import pandas as pd
df=pd.DataFrame({
    "company_name" :company_name,
    "Rating": Rating,
    "avg_salary": avg_salary,
    "min_salary":min_sal,
    
    "max_salary": Max_sal
})
df

                company_name Rating  avg_salary min_salary max_salary
0                        IBM    3.9   ₹9,00,000        ₹6L        ₹3L
1  Tata Consultancy Services    3.9   ₹6,15,289        ₹3L        ₹6L
2                  Accenture      4  ₹11,63,336        ₹6L        ₹5L
3                  Delhivery    3.9  ₹12,18,244        ₹5L        ₹4L
4         Ericsson-Worldwide      4   ₹7,39,238        ₹4L       ₹11L
5         UnitedHealth Group    3.7  ₹13,19,140       ₹11L        ₹5L
6         Valiance Solutions    4.2   ₹8,63,750        ₹5L        ₹6L
7                EXL Service    3.6  ₹11,10,000        ₹6L        ₹4L
8     Optum Global Solutions    3.9  ₹13,28,697        ₹4L        ₹2L
9              ZS Associates      4  ₹11,42,356        ₹2L        ₹4L

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [112]:
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [113]:
driver=webdriver.Chrome("chromedriver.exe")

In [114]:
driver.get("https://www.flipkart.com/")

In [115]:
#getting the web element for search box and giving the values
search_glasses=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_glasses.send_keys("sunglasses")
#finding the search key option and click on it.
search_key=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_key.click()

In [100]:
#Searching for the brand name
search_brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
Brand_name=[]
for i in search_brand:
    Brand_name.append(i.text)
Brand_name
print(f"Brand name--\n{Brand_name}\n\nlength of brandName--{len(Brand_name)}")

Brand name--
['HAMIW COLLECTION', 'ROYAL SON', 'Fastrack', 'PIRASO', 'kingsunglasses', 'PHENOMENAL', 'Silver Kartz', 'HAMIW COLLECTION', 'IRUS by IDEE', 'Singco India', 'DEIXELS', 'Silver Kartz', 'hipe', 'GANSTA', 'HIPPON', 'ROYAL SON', 'ROZZETTA CRAFT', 'NuVew', 'Flizz', 'ROYAL SON', 'United Colors of Benetton', 'elegante', 'ROYAL SON', 'Silver Kartz', 'FOSSIL', 'Singco', 'Wrogn', 'HAMIW COLLECTION', 'IDEE', 'Fravy', 'BEQUBE', 'Silver Kartz', 'Poland', 'Fastrack', 'kingsunglasses', 'Silver Kartz', 'PIRASO', 'PHENOMENAL', 'Singco India', 'VINCENT CHASE']

length of brandName--40

In [105]:
#serching for the Brand description
search_des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
Product_Description=[]
for i in search_des:
    Product_Description.append(i.text)
Product_Description
print(f"The list of Product Description- \n{Product_Description}")

The list of Produc Description-
['UV Protection Wayfarer, Sports, Shield, Rectangular, Re...', 'UV Protection Retro Square Sunglasses (88)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Round Sunglasses (Free Size)', 'Gradient Rectangular Sunglasses (56)', 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)', 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (88)', 'UV Protection Sports Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Wayfarer Sunglasses (55)', 'Polarized Retro Square Sunglasses (58)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection, Gradient Round Sunglasses (53)', 'Mirrored, UV Protection Rectangular Sunglasses (56)', 'UV Protection Round Sunglasses (Free Size)', 'Polarized Rectangular Sunglasses (65)', 'UV Protection Aviator Sunglasses (62)', 'Others Rectangular Sunglasses (59)', 'UV Protection, Others Aviator Sunglasses (32)', 'Mirrored Wayfarer Sunglasses (56)', 'UV Protection, Night Vision, Gradient Retro Square, Spe...', 'Gradient Aviator Sunglasses (60)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Oval Sunglasses (56)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (55)', 'UV Protection Wayfarer, Aviator Sunglasses (88)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'UV Protection Aviator Sunglasses (Free Size)', 'by Lenskart UV Protection Wayfarer Sunglasses (49)']

In [108]:
#3 Searching for the price.
Search_price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
Price=[]
for i in Search_price:
    Price.append(i.text)
print(Price)

['₹149', '₹599', '₹758', '₹237', '₹299', '₹399', '₹246', '₹179', '₹606', '₹252', '₹213', '₹255', '₹299', '₹281', '₹251', '₹854', '₹499', '₹215', '₹399', '₹699', '₹1,222', '₹199', '₹699', '₹255', '₹1,843', '₹355', '₹676', '₹389', '₹1,031', '₹299', '₹408', '₹284', '₹162', '₹513', '₹349', '₹265', '₹331', '₹319', '₹352', '₹1,179']

In [110]:
#4Searching for the discount
Search_discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount=[]
for i in Search_discount:
    Try:
    discount.append(i.text)
discount

['₹1150 off',
 '₹1400 off',
 '₹141 off',
 '₹1362 off',
 '₹2300 off',
 '₹1600 off',
 '₹1253 off',
 '₹1320 off',
 '₹679 off',
 '₹1247 off',
 '₹986 off',
 '₹944 off',
 '₹1600 off',
 '₹1718 off',
 '₹948 off',
 '₹1145 off',
 '₹1726 off',
 '₹570 off',
 '₹1800 off',
 '₹1300 off',
 '₹2878 off',
 '₹800 off',
 '₹1300 off',
 '₹944 off',
 '₹4057 off',
 '₹1644 off',
 '₹1873 off',
 '₹2610 off',
 '₹1949 off',
 '₹1200 off',
 '₹1791 off',
 '₹915 off',
 '₹337 off',
 '₹286 off',
 '₹1150 off',
 '₹934 off',
 '₹1268 off',
 '₹1979 off',
 '₹847 off',
 '₹820 off']

In [ ]:
# going to next page

In [119]:
search_next=driver.find_elements_by_xpath("div[@class='_2MImiq']/a")
search_next

[]